*{
  transition: 0.4s ease-in-out;
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Zen+Dots&display=swap');
body {
  animation: fadein 3s ease-in-out;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #323437;
}
@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;

  }
}
.heading{
  font-size: 130px;
font-family: 'Zen Dots', cursive;

}
.main{
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.navbar{
font-family: 'Zen Dots', cursive;
  font-size: 20px;
  padding: 20px;
}
.btn{
  font-family: monospace;
  margin: 20px;
  box-shadow: 2px 2px 2px 2px blue;
  font-size: 20px;
  padding: 50px;
}
.about{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 1px 1px 50px rgb(37,84,209);

  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(37,84,209,1) 100%);
}
.fa-moon{
  font-size:40px;
  cursor:pointer;
}

.fa-moon:active, .nav-link:active{
  transition: 0.2s ease-in-out;
  transform: scale(0.8);
}

#rafa {
  color: blue;
  text-shadow: 1px 1px 10px rgb(37,84,209);
  
font-family: 'Zen Dots', cursive;
}
.svg{
transition: 1s ease-in-out;
transition-delay: 0.3s;
}

.spinner{
  display: flex;
  font-size: 30px;
  color: white;
}

.fa-brands{
  font-size: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  text-decoration: none;
}
.intro{
  font-weight: 500;
  font-size: 30px;
  padding: 30px;
  font-family: 'Noto Sans Mono', monospace;
}

span{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  line-height: 35px;
  padding: 10px;
  max-width: 80em;
}
.nav-link:active{
  color:blue
}
.copyright{
  text-align: center;
  align-items: center;
  bottom: 0;
  padding: 10px;
  position: relative;
  width: 100%;
}
.copyright h2{
  font-size: 15px;

}
.work{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 1px 1px 50px rgb(37,84,209);
}

.work h2{
font-family: 'Zen Dots', cursive;
  font-weight: 100;
  font-size: 30px;
}


.workinfo{
  padding: 40px;
  filter: blur(1);
}
.work span{
  font-family: 'Noto Sans Mono', monospace;
  
}
.social{
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.social a:hover {
  transition: 0.5s ease-in-out;
  filter: invert(1);
}


.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}
.box{
  padding: 30px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}
@media (max-width: 596px) {
  .main{
    padding: 0px;
  }
  .heading{
    font-size: 90px;
  }
  .intro{
    padding: 0;
  }
  span{
    font-size: 20px;
  }
  .box{
    padding: 0px;
  }
  
}